@model BlogCategoryDto
@{
    ViewData["Title"] = "Yeni Blog Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Kategori Adı</label>
    <textarea asp-for="BlogCategoryName" class="form-control" rows="5"></textarea>
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
    <a asp-action="Index" asp-controller="Banner" asp-area="Admin" class="btn btn-secondary">İptal</a>
</form>

